<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="telerik.web.ui">
      <section name="radScheduler" type="Telerik.Web.UI.RadSchedulerConfigurationSection, Telerik.Web.UI, PublicKeyToken=121fae78165ba3d4" allowDefinition="MachineToApplication"/>
    </sectionGroup>
    <section name="CustomConfig" type="DataLayer.ConfigurationService, Datalayer" allowDefinition="Everywhere"/>
  </configSections>
  <CustomConfig ConnectionString="DatabaseEntities"/>
  <appSettings>
    <add key="Interval" value="15"/>
    <add key="VerificationSize" value="10"/>
    <add key="DefaultTimeOut" value="40"/>
    <add key="DefaultAcceptTimeOut" value="50"/>
    <add key="DefaultExceptionTitle" value="خطاي ناشناخته"/>
    <add key="DefaultExceptionMessage" value="عمليات مورد نظر شما با خطا متوقف شد"/>
    <add key="DefaultExceptionHelpNote" value="جهت رفع خطا با مدير سيستم تماس بگيريد"/>
    <add key="DefaultExceptionInnerException" value="Fatal Error!"/>
    <add key="SMSUserName" value="6201270065"/>
    <add key="SMSPassword" value="2"/>
    <add key="Phone" value="30007363736350"/>
    <add key="EmailUserName" value="concertteater@gmail.com"/>
    <add key="EmailPassword" value="123456_123456"/>
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
  </appSettings>
  <telerik.web.ui>
    <radScheduler defaultAppointmentProvider="Integrated">
      <appointmentProviders>
        <add name="PatientSchedulerProviderBase" type="Provider.PatientSchedulerProviderBase" connectionStringName="SqlServerConnectionString" persistChanges="true"/>
      </appointmentProviders>
    </radScheduler>
  </telerik.web.ui>
    <system.net>
    <mailSettings>
      <smtp from="info@rasamafzar.ir">
        <network host="smtp.gmail.com" password="123456_123456" userName="concertteater@gmail.com" enableSsl="true" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <!--<add name="DatabaseEntities" connectionString="metadata=res://*/EFModel.csdl|res://*/EFModel.ssdl|res://*/EFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OurCompany-Pc;initial catalog=School;persist security info=True;user id=sa;password=1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DataConnectionString" connectionString="data source=OurCompany-Pc;initial catalog=School;persist security info=True;user id=sa;password=1;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>-->
   <add name="DatabaseEntities" connectionString="metadata=res://*/EFModel.csdl|res://*/EFModel.ssdl|res://*/EFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=School;persist security info=True;user id=sa;password=1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DataConnectionString" connectionString="data source=.;initial catalog=School;persist security info=True;user id=sa;password=1;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <!--<add name="DatabaseEntities" connectionString="metadata=res://*/EFModel.csdl|res://*/EFModel.ssdl|res://*/EFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=176.227.194.176;initial catalog=school;persist security info=True;User ID=schooladmin;Password=nimda123@school;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataConnectionString" connectionString="data source=176.227.194.176;initial catalog=school;persist security info=True;User ID=schooladmin;Password=nimda123@school;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="DatabaseEntities" connectionString="metadata=res://*/EFModel.csdl|res://*/EFModel.ssdl|res://*/EFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=142.0.70.11\MSSQL2008;initial catalog=Ticket;persist security info=True;User ID=DataBaseAdmin;Password=1@hitech.com;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataConnectionString" connectionString="data source=142.0.70.11\MSSQL2008;initial catalog=Ticket;persist security info=True;initial catalog=Ticket;User ID=DataBaseAdmin;Password=1@hitech.com;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <trace enabled="true" pageOutput="false" requestLimit="40" localOnly="false"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!--<add assembly="Telerik.Web.Design, Version=2013.1.220.45, Culture=neutral, PublicKeyToken=121FAE78165BA3D4" />-->
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880"/>
    </authentication>
    <membership defaultProvider="EFMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="EFMembershipProvider" type="Provider.EFMembership" connectionStringName="DatabaseEntities" passwordFormat="Hashed" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"/>
      </providers>
    </membership>
    <profile defaultProvider="EFProfileProvider" enabled="true">
      <providers>
        <clear/>
        <add name="EFProfileProvider" type="Provider.EFProfile" connectionStringName="DatabaseEntities"/>
      </providers>
      <properties>
        <clear/>
        <add name="UserId" type="System.Guid"/>
        <add name="FullName" type="string" defaultValue="بی نام"/>
        <add name="FirstName" type="string" defaultValue="بی نام"/>
        <add name="LastName" type="string" defaultValue="بی نام"/>
        <add name="Email" type="string"/>
        <add name="Mobile" type="string"/>
        <add name="Phone" type="string"/>
        <add name="ApplicantId" type="int"/>
      </properties>
    </profile>
    <roleManager enabled="true" defaultProvider="EFRoleProvider">
      <providers>
        <clear/>
        <add name="EFRoleProvider" type="Provider.EFRole" connectionStringName="DatabaseEntities"/>
      </providers>
    </roleManager>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" styleSheetTheme="Default">
      <controls>
        <add tagPrefix="pdc" assembly="PersianDateControls 2.0" namespace="PersianDateControls"/>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      
    </httpHandlers>
    <httpRuntime executionTimeout="500" maxRequestLength="512"/>
    <sessionState mode="InProc" timeout="60"/>
  </system.web>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_MasterPage">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <!--<location path="Administrator">
    <system.web>
      <authorization>
        <allow roles="Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <location path="Buyer">
    <system.web>
      <authorization>
        <allow roles="Applicant"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />
    </handlers>
    <directoryBrowse enabled="true"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="iisstart.htm"/>
        <add value="_holding.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <siteMap>
      <providers>
        <add name="Administrator" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Administrator.sitemap"/>
        <add name="Applicant" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Applicant.sitemap"/>
        <add name="Default" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Default.sitemap"/>
        <add name="DefaultMasterPage" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/DefaultMasterPage.sitemap"/>
      </providers>
    </siteMap>
  </system.web>
</configuration>